@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  inline-size: 100%;
  width: 960px;
  block-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.reveal-up {
  opacity: 0;
  animation: reveal-up 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  animation-fill-mode: forwards;
}

@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translate(0, 100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #000000;
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  overflow: hidden;
  height: 100%;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  overflow: hidden;
}

.carousel {
  grid-area: 2/1/6/6;
}

.header {
  grid-area: 1/1/2/6;
}

.page1 {
  position: relative;
  width: 100vw;
  display: flex;
  z-index: 0;
}

.page2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  display: none;
}

.contact {
  top: 0px;
  position: fixed;
  background-color: #000;
}

.contactgrid {
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  /*max-height: 480px;*/
  grid-template-rows: repeat(2, 1fr);
}

.boxcv {
  grid-area: 1/1/4/4;
}

.button1 {
  background-color: #fff;
}

.button2 {
  background-color: #000000;
}

.contact > * h3 {
  margin-top: 0;
  color: white;
  font-style: italic;
  font-family: "ItalianGaramond";
  font-size: 1.2em;
  font-weight: 800;
}

.contact > * li {
  margin-top: 10px;
  color: white;
  font-style: italic;
  font-family: "ItalianGaramond";
  font-size: 1.3em;
}

.cvgauche {
  padding: 40px;
  grid-area: 1/1/4/2;
  overflow: scroll;
}

.cvdroiteup {
  grid-area: 1/2/4/4;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  padding: 0px;
  overflow: scroll;
  border-left: 0.5px solid #fff;
}

.main-part2 {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-part1 {
  position: fixed;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid #000;
  margin: 0px;
  background: #fff;
}

.main-part {
  padding: 0 0;
}

.cadregauche {
  padding-top: 0;
  height: 100%;
  position: relative;
  padding: 0;
}

.row2 {
  display: grid;
  width: 100%;
  grid-template-columns: 80% 20%;
}

.header-left {
  padding: 20px 20px;
}

.header-right {
  padding: 10px 20px;
}

.header {
  position: relative;
  z-index: 2;
  background: #efefef;
  border-bottom: 1px solid #000;
}

.columnleft {
  height: 100%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  background: #efefef;
  /* display: inline-block;*/
}

.columnright {
  height: 100%;
  z-index: 2;
  position: relative;
  background: #efefef;
  overflow: hidden;
}

.columnrightscroll {
  max-height: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.footer2 {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #efefef;
}

.footergrid {
  margin-top: -0.1em;
  width: 100%;
  display: flex;
  height: 2em;
}

.previousproject, .nextproject {
  height: 100%;
  background-color: #efefef;
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftarrow, .rightarrow {
  position: relative;
  transition: 0.3s ease-in-out;
}

.lefttext, .righttext {
  transition: 0.3s ease-in-out;
}

.previousproject:hover .leftarrow {
  transform: translate(-10px, 0px);
}

.nextproject:hover .rightarrow {
  transform: translate(10px, 0px);
}

.previousproject:hover .lefttext {
  transform: translate(-5px, 0px);
}

.nextproject:hover .righttext {
  transform: translate(5px, 0px);
}

.previousproject {
  border-right: 1px solid;
}

p {
  font-weight: 400;
  font-family: "ItalianGaramond";
  font-size: 1.2em;
  text-align: left;
  letter-spacing: -0.5px;
  line-height: 21px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bot .bar2 {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  z-index: 10;
  width: 100%;
  height: 1px;
  background: #000;
}

.bar {
  left: 0;
  position: absolute;
  margin-left: 0px;
  margin-bottom: 0px;
  z-index: 10;
  height: 100%;
  width: 1px;
  background: #000;
}

.circle {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid;
  border-radius: 50%;
  transition: 0.3s;
}

.circle:hover {
  background-color: #000000;
}

.circle2 {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
}

.icon-home, .icon-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em 1.272727273em;
}

.icon-menu {
  background-image: url(../icones/iconmenu.svg);
}

.circlezoom:hover .icon-menu {
  background-image: url(../icones/iconmenu2.svg);
}

.icon-home {
  background-image: url(../icones/iconhome.svg);
}

.circlezoom1:hover .icon-home {
  background-image: url(../icones/iconhome2.svg);
}

.close:before, .close:after {
  position: absolute;
  left: 0.5em;
  content: " ";
  height: 1em;
  width: 1px;
  background-color: #fff;
}

.button2:hover .close:before {
  background-color: #000000;
}

.button2:hover .close:after {
  background-color: #000000;
}

.close:hover {
  opacity: 1;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.circle2:hover {
  background-color: #ffffff;
}

.circlezoom {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0%;
  z-index: 20;
}

.circlezoom1 {
  position: absolute;
  right: 55px;
  top: 20px;
  padding: 0%;
  z-index: 20;
}

/*.circlezoom2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  padding: 0%;
}

.circlezoom2:hover{
transform: scale(1.5);
transition-delay:0.3s;
}*/
.circlezoom3 {
  position: relative;
  left: 50%;
  bottom: 30px;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in-out;
  padding: 0%;
  z-index: 50;
  background-color: #000;
}

.circlezoom3:hover {
  transform: scale(1.5);
  transition-delay: 0.3s;
}

.coin1 {
  position: relative;
  left: -25px;
  z-index: -2;
  top: -10px;
  top: 1.85em;
  position: absolute;
  right: -1.5em;
  float: right;
  z-index: -2;
}

.coin2 {
  top: 1.85em;
  position: absolute;
  right: -1.5em;
  float: right;
  transform: scaleX(-1);
  z-index: -2;
}

.souriscroll {
  position: relative;
  margin-top: 20px;
  bottom: 0px;
  z-index: 35;
}

.icon-phone {
  background-image: url(../icones/iconphone.svg);
}

.icon {
  color: black;
  position: relative;
  display: inline-flex;
  width: 1em;
  height: 1.272727273em;
  margin-bottom: -0.272727273em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em 1.272727273em;
}

.croix {
  position: absolute;
  z-index: 5;
  transition: all 0.2s ease-out;
}

#crosshair-v {
  height: 100vh;
  margin: auto;
  position: absolute;
  z-index: 5;
}

#crosshair-h {
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 5;
}

.hair {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -10px;
  background: transparent;
  border-top: 1px solid white;
  border-left: 1px solid white;
  mix-blend-mode: difference;
  backface-visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

#mousepos {
  position: absolute;
  top: 0px;
  left: 0;
  padding: 10px;
  margin: 10px;
  margin-top: -550px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.541);
  z-index: -10;
  font-family: "ItalianGaramond";
  font-size: 15px;
}

p .highlight::before {
  content: " ";
  display: block;
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, 0.623);
  transition: transform 0.5s ease;
}

.highlight {
  z-index: 30;
  font-family: "ItalianGaramond";
  font-size: 1.3em;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 21px;
}

.highlight::before {
  z-index: 30;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.highlight:hover::before {
  z-index: 30;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.highlight::before {
  content: " ";
  display: block;
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, 0.623);
  z-index: -1;
  transition: transform 0.5s ease;
}

.cadrehover {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadrehover .bckgd {
  width: 100%;
  height: 100vh;
  background: none;
  position: absolute;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.cadrehover .hero-image {
  position: relative;
  z-index: 13;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*      background: url("../../img/img2.jpg") no-repeat center;
        background-size: cover;
        opacity: 0.7;*/
}

.cadrehover h1 {
  margin-top: 50px;
  position: relative;
  z-index: 20;
  font-size: 12vw;
  font-family: "GrandSlang";
  color: #fff;
}

marquee {
  font-size: 20px;
  background-color: black;
  color: white;
  margin-top: 0px;
  padding: 6px 0;
  width: calc(100% + 40px);
  margin-left: -20px;
  flex-shrink: 0;
}

.slider {
  border: 0.5px solid #fff;
  z-index: 20;
  pointer-events: none;
  height: inherit;
  background: url("../img/home2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

.carousel {
  padding: 0px 0px;
  background: #1866e3;
  transition: 0.3s ease-in-out;
}

.bas {
  padding: 10px 20px;
  position: relative;
  z-index: 2;
  background: #1866e3;
}

.swiper-container {
  cursor: ew-resize;
  width: 100%;
  height: 74vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

ul li {
  list-style-type: none;
}

.swiper-wrapper {
  display: flex;
  height: 100%;
  box-sizing: content-box;
}

.swiper-slide {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.swiper-slide img {
  max-height: 100%;
  width: auto;
}

.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #efefef;
  margin-top: -20px;
  z-index: 2;
  border: 1px solid #000;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 0px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 0px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}

.image-gallery {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
}

#image-gallery {
  transition: 0.3s ease-in-out;
}

.image-gallery > li {
  flex: 1 1 auto; /* or flex: auto; */
  cursor: pointer;
  position: relative;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.image-gallery li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  vertical-align: middle;
}

.image-gallery li video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/*Animation rotating CVdownload*/
.circlebutton {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 700 1.35rem/1.4 "ItalianGaramond";
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  text-decoration: none;
}
.circlebutton__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.circlebutton__cloud {
  transform-origin: 50% 50%;
  animation: rotate normal infinite 60s linear;
  fill: rgba(255, 255, 255, 0.15);
}
.circlebutton__face, .circlebutton__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.circlebutton:hover .circlebutton__face, .circlebutton:hover .circlebutton__arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.circlebutton__arrow {
  stroke-width: 0.075em;
}
.circlebutton__text {
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}
.circlebutton:hover .circlebutton__text {
  animation-play-state: paused;
}
.circlebutton--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}

.content {
  width: 100%;
  padding: 0;
}

.content > * {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin: 0.2em 0;
}

.divider-bot {
  margin: 0.2em 0;
}

.divider-top {
  margin: 0.2em 0em;
}

.nav-divider {
  margin-top: 1em;
}

#overlay-light {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1;
}

#overlay-dark {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 2;
}

.container {
  overflow: hidden;
}

.preview {
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: hidden;
  pointer-events: none;
  transform-origin: center;
  z-index: 30;
}

.preview-img {
  width: 100%;
  height: 100%;
  background: url(../img/homeslide.png);
  background-size: cover;
  background-position: 0 0;
  pointer-events: none;
}

.row {
  font-family: "ItalianGaramond";
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 30;
}

.row > .col {
  position: relative;
  flex: 1;
}

.bouttonpage {
  background-color: #ddd;
  border: 0.5px solid black;
  color: black;
  padding: 2px 7px;
  text-align: center;
  font-size: 15px;
  font-family: "ItalianGaramond";
  font-weight: 400;
  font-style: italic;
  margin: 10px 2px;
  transition: 0.3s;
  border-radius: 20px;
}

.bouttonpage:hover {
  background-color: #707070;
  color: white;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
.grid-home {
  background: none;
  --items: 7;
  --width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 0px;
}
.grid-home.active .item-home {
  transform: scale(1);
}

.item-home {
  background-color: rgb(50, 50, 50);
  -webkit-mask-image: url("../icones/sparkle.svg");
  mask-image: url("../icones/sparkle.svg");
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: 300ms cubic-bezier(0.37, 0.01, 0.43, 1.3);
  transition-delay: 0ms;
}
.item-home:nth-child(1) {
  transition-delay: 20ms;
}
.item-home:nth-child(2) {
  transition-delay: 40ms;
}
.item-home:nth-child(3) {
  transition-delay: 60ms;
}
.item-home:nth-child(4) {
  transition-delay: 80ms;
}
.item-home:nth-child(5) {
  transition-delay: 100ms;
}
.item-home:nth-child(6) {
  transition-delay: 120ms;
}
.item-home:nth-child(7) {
  transition-delay: 140ms;
}
.item-home:nth-child(8) {
  transition-delay: 160ms;
}
.item-home:nth-child(9) {
  transition-delay: 180ms;
}
.item-home:nth-child(10) {
  transition-delay: 200ms;
}
.item-home:nth-child(11) {
  transition-delay: 220ms;
}
.item-home:nth-child(12) {
  transition-delay: 240ms;
}
.item-home:nth-child(13) {
  transition-delay: 260ms;
}
.item-home:nth-child(14) {
  transition-delay: 280ms;
}
.item-home:nth-child(15) {
  transition-delay: 300ms;
}
.item-home:nth-child(16) {
  transition-delay: 320ms;
}
.item-home:nth-child(17) {
  transition-delay: 340ms;
}
.item-home:nth-child(18) {
  transition-delay: 360ms;
}
.item-home:nth-child(19) {
  transition-delay: 380ms;
}
.item-home:nth-child(20) {
  transition-delay: 400ms;
}
.item-home:nth-child(21) {
  transition-delay: 420ms;
}

.grid-home > logo {
  background: none;
}

.item-home:hover {
  opacity: 0.5;
}

.item-home:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.logo-main {
  background-image: url("../img/logomain.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: none;
  mask-image: none;
  border-radius: 50%;
  border-radius: 50%;
}

.item-home-custom:not(.logo-custom) {
  -webkit-mask-image: none;
  mask-image: none;
  border-radius: 50%;
  background: rgb(50, 50, 50);
  border-radius: 50%;
}

.logo-custom {
  background-image: url("../img/logomain.svg");
  background-position: center;
  -webkit-mask-image: none;
  mask-image: none;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  #home1 {
    opacity: 0;
  }
}
@media (max-width: 850px) {
  #home2 {
    opacity: 0;
  }
}
@media (max-width: 1066px) {
  #home3 {
    opacity: 0;
  }
}
@media (max-width: 1280px) {
  #home4 {
    opacity: 0;
  }
}
@media (max-width: 1493px) {
  #home5 {
    opacity: 0;
  }
}
@media only screen and (max-width: 768px) {
  .grid-home {
    grid-template-columns: repeat(auto-fit, minmax(109px, 1fr));
  }
}
@font-face {
  font-family: ItalianGaramond;
  src: url("../fonts/ItalianGaramondItalic.woff2");
}
@font-face {
  font-family: ItalianGaramond;
  font-style: italic;
  src: url("../fonts/ItalianGaramond.woff2");
}
@font-face {
  font-family: HelveticaNeue;
  font-style: regular;
  src: url("../fonts/hlvtc/HelveticaNeue-MediumItalic.otf");
}
@font-face {
  font-family: HelveticaNeue;
  font-style: italic;
  src: url("../fonts/hlvtc/HelveticaNeue-Medium.otf");
}
/* Variables CSS */
:root {
  --items: 7;
  --width: 100vw;
  --transition-duration: 300ms;
}

@media (max-width: 850px) {
  #mousepos {
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .swiper-container {
    display: none;
  }
  .carousel {
    grid-area: 2/1/5/6;
  }
  .parent {
    max-height: 90.5vh;
    overflow-y: scroll;
  }
  .footer2 {
    min-height: 10vh;
  }
}
@media (min-width: 500px) {
  .container2 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .circlezoom {
    position: fixed;
    right: 20px;
    top: 52px;
  }
  .circlezoom1 {
    position: fixed;
    right: 20px;
    top: 20px;
  }
  .cvdroiteup {
    grid-area: 1/1/2/4;
  }
  .cvgauche {
    grid-area: 2/1/4/4;
  }
}
.modal {
  cursor: default;
  display: none;
  position: fixed;
  z-index: 43;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}

.backgroundmodal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 44;
  position: fixed;
  background-color: black;
}

.caption {
  color: #8d8d8d;
  font-style: italic;
  font-family: "ItalianGaramond";
  font-size: 0.5em;
  font-weight: 100;
  margin-top: 20px;
}

.captionbig {
  color: #8d8d8d;
  font-style: italic;
  font-family: "ItalianGaramond";
  font-size: 0.8em;
  font-weight: 100;
  margin-top: 20px;
}

.lightboximg {
  height: auto;
  max-height: 85vh;
  max-width: 85vw;
  width: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  z-index: 45;
}

/* The Close Button  */
.closelightbox {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 10px;
  right: 25px;
  z-index: 45;
}

.closelightbox:before, .closelightbox:after {
  position: absolute;
  left: 0.5em;
  content: " ";
  height: 1em;
  width: 1px;
  background-color: #fff;
}

.closelightbox:hover {
  cursor: pointer;
}

.closelightbox:before {
  transform: rotate(45deg);
}

.closelightbox:after {
  transform: rotate(-45deg);
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

.mySlides {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  cursor: pointer;
}

.row.active {
  opacity: 0.5 !important;
  pointer-events: none; /* Désactiver les événements de pointer (clique) sur le bouton actif */
}

video {
  height: 100%;
}/*# sourceMappingURL=stylespages.css.map */